* {
  border: 0px red solid;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f5f5f5;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Rubik";
  font-size: 0.9rem;
}

button:active {
  scale: 0.95;
}

button:hover {
  cursor: pointer;
}

#newbook-modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
}

#newbook-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 3px black solid;
  box-shadow: 2px 4px;
}

#newbook-form-header {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  font-weight: 900;
}

.newbook-form__container {
  margin: 0 10px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.newbook-form__container > input {
  padding: 5px 10px;
  width: min(150px);
  text-align: end;
  font-family: "Rubik";
  font-size: 0.95rem;
  outline: 2px black solid;
  background-color: #f1f5f9;
}

.newbook-form__container > input:focus {
  border-radius: 0px;
  outline: 3px black solid;
}

.newbook-form__container > select {
  padding: 5px;
  border: 2px solid black;
}

.newbook-form__container > select:active {
  border: 2px solid black;
}

.newbook-form__container + .newbook-form__container {
  border-top: 1px black solid;
}

.newbook-form__submit {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  font-weight: 900;
}

.newbook-form__submit > button {
  width: 90%;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  background-color: #0369a1;
  box-shadow: 2px 2px black;
}

.newbook-form__submit > button:hover {
  filter: brightness(85%);
}

#header-container {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 50px;
  background-color: white;
  font-size: 3rem;
  border-bottom: 5px solid black;
}

#btn-new-book {
  border: 2px solid black;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  background-color: #0369a1;
  padding: 15px 30px;
  box-shadow: 2px 2px black;
}

.book-card--read {
  background-color: #e5e5e5;
}

.book-card--not-read {
  background-color: white;
}

#my-library-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.book-card {
  min-width: 500px;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 3fr 50px 50px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border: 2px black solid;
  box-shadow: 2px 2px;
}

.book-card > button {
  margin: 0 10%;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0);
}

.book-card > button:hover {
  border-radius: 50%;
  background-color: #f5f5f5;
}

.book-card__title {
  font-weight: 600;
}

.book-card__pages {
  margin-right: 20%;
  grid-column: 2/3;
  justify-self: end;
}

.book-card__author {
  grid-row: 2/3;
}

.book-card__read-toggle {
  grid-column: 3/4;
  grid-row: 1/3;
}

.book-card__delete {
  grid-column: 4/5;
  grid-row: 1/3;
}
