* {
  border: 0px red solid;
  margin: 0;
}

body {
  height: 100vh;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

button:hover{
    cursor: pointer;
}

.card {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px black solid;
}

.book-pages {
  grid-column: 2/3;
}

.book-author {
  grid-row: 2/3;
}

.book-read {
  grid-column: 3/4;
  grid-row: 1/3;
}

.new-book-background {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
}

.form-card {
    background-color: white;
  border: 3px black solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-card-title{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    font-weight: 900;
}

.form {
    margin: 0 10px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  /* border: 1px black solid; */
}

.form > input {
    padding: 5px 10px;
  width: min(150px);
  font-size: 0.9rem;
  outline: 2px black solid;
  background-color: #f1f5f9;
}

.form > input:focus {
    /* scale: 1.05; */
    border-radius: 5px;
    /* border: 1px black solid; */
    outline: 2px black solid;
}

.form > select{
    padding: 5px;
    border: 1px solid black;
}

.form-card-button{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    font-weight: 900;
}

.form-card-button>button{
    width: 90%;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    background-color: #0369a1;
}

.form-card-button>button:hover{
    filter: brightness(85%);
}

.form-card-button>button:active{
    scale: 0.95;
}
.form + .form {
  border-top: 1px black solid;
}
